// Home (core/sections/_home.scss) -----------------------------
$home--padding-t__mobile: 		null;		// home, top padding (mobile)
$home--padding-b__mobile: 		null;		// home, bottom padding (mobile)
$home--padding-t__desktop: 		null;		// home, top padding (desktop)
$home--padding-b__desktop: 		null;		// home, bottom padding (desktop)
$home--inner-padding-v_mobile: 	48px;		// vertical padding, i.e. padding between content and image (mobile, both home split and home full)
$home--inner-padding-v_desktop: 64px;		// vertical padding, i.e. padding between content and image (desktop, only home full)
